body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  text-align: center;
}

.heading {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #777;
  margin-bottom: 40px;
}

.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #555;
}
